<div class="about-page">
  <div class="container">
    <div class="content-gear">
      <h3>ЧТо такое Алтимат?</h3>
      <p>Алтимат — командный вид спорта с летающим диском (<a href="#фризби">фризби</a>),
        играется
        двумя командами по семь человек. Поле для алтимата прямоугольное, по
        ширине равное примерно половине футбольного, с зонами на концах поля.
        Цель каждой команды — выиграть очко. Для этого игрок этой команды
        должен поймать диск в зоне соперника. Игроки не могут передвигаться с
        диском, но могут пасовать диск в любом направлении любому игроку своей
        команды. В случае незавершенного паса происходит переход владения, т.е.
        защищавшаяся команда берет диск и начинает атаковать. Алтимат —
        бесконтактный вид спорта, в котором роль судей исполняют сами игроки.
        Игроки в своем поведении руководствуются <a href="#дух_игры">"Духом
          игры"</a>.</p>
    </div>
    <div class="gear-content">
      <h3>Правила игры</h3>

      <ul class="list-unstyled">
        <li>
          <h4><b>Цель игры</b></h4>
          <p> - зарабатывать очки путём передачи диска с помощью паса
            игроку своей команды, находящемуся в зоне противника.</p>
        </li>
        <li>
          <h4><b>Команды</b></h4>
          <p>В алтимат играют две команды по 7 человек на улице (футбольное
            поле / трава), по 5 в зале или на песке.</p>
        </li>
        <li>
          <h4><b>Размеры поля</b></h4>
          <p>
            Поле для игры имеет размер 100 на 37 метров. Голевые зоны имеют
            размер 18×37 м, а центральная 64×37 м. При недостатке места поле
            сокращается в первую очередь за счет зон.
          </p>
        </li>
        <li>
          <h4><b><a id="фризби"></a>Диск для игры</b></h4>
          <p>
            Для игры в алтимат используется диск диаметром 27,5 см и весом 175
            грамм. Существует список производителей, чьи диски прошли
            необходимые тесты и разрешены регламентом Международной федерацией
            игр с летающим диском.
            Наиболее часто используют диски Discraft UltraStar.

            В 2005 году лицензию на использование в турнирах своих дисков
            получила компания Daredevil.
          </p>
        </li>
      </ul>

      <h2 class="text-center"><b>Игра</b></h2>
      <ul class="list-unstyled">
        <li>
          <h4><b>Ввод диска</b></h4>
          <p>
            Перед началом очередного розыгрыша команды выстраиваются по границе
            своей зоны. Диск находится у защищающейся команды. Когда обе
            команды готовы (сигналом является поднятая рука), диск вводится в
            игру игроком защищающейся команды. Нападающая команда должна либо
            перехватить диск в воздухе, либо дождаться того момента, когда диск
            коснётся земли. Если игрок атакующей команды коснётся диска в
            воздухе, но не поймает его, то диск переходит к защищающейся
            команде.
          </p>
        </li>
        <li>
          <h4><b>Передача диска</b></h4>
          <p>
            Игрок, поймавший диск, должен установить опорную ногу. Как правило,
            у правшей это левая нога, у левшей — правая. Игрок с диском не
            может отрывать от земли или перемещать опорную ногу. Если игрок с
            диском двигается в момент приёма паса, то он должен, не меняя
            направления движения, остановиться так быстро, насколько это
            возможно. При этом бросающий может совершить бросок пока сбрасывает
            скорость. Но в момент броска контакт опорной ноги с игровым полем
            должен сохраняться.

            После того, как игрок завладел диском, один игрок противоположной
            команды (защитник), находящийся на расстоянии не более трёх метров
            от владеющего диском, может начать счёт («Stall»). После этого
            игрок с диском имеет 10 секунд на то, чтобы отдать пас.

            Игрок не может ловить свой же пас, если только диска в воздухе не
            коснётся другой игрок.</p>
        </li>
        <li>
          <h4><b>Очки(в алтимате это "поинт")</b></h4>
          <p>
            Поинт засчитывается, если игрок после фиксации диска первый
            касается голевой зоны соперника. При этом игрок должен осознавать,
            что он выиграл очко. Если он продолжает играть, то очко не
            засчитывается. Если игрок, поймавший диск в поле, вбежал в зону по
            инерции, то следующий бросок он осуществляет с линии зоны (с точки,
            ближайшей к месту получения диска).
            После засчитывания очка, команда, которая только что владела
            диском, становится защищающейся. При этом собственной зоной
            становится та, которая только что была зоной противника. Таким
            образом, команды меняются сторонами после каждого очка.
          </p>
        </li>
        <li>
          <h4><b>Смена владения или потеря диска</b></h4>
          <p>
            Смена владения происходит при любом «неудачном» пасе. При этом
            защищающаяся команда немедленно становится атакующей. После смены
            владения атакующие должны вводить диск в игру с того места, где он
            впервые коснулся земли, или впервые покинул пределы поля. Потеря
            диска не приводит к остановке игры.</p>
          <p>
            Потеря диска происходит, когда:
          </p>
          <ul>
            <li>игрок с диском роняет его или даёт пас, который никто не ловит,
              и
              диск падает на землю;
            </li>
            <li>защитник сбивает диск в воздухе;</li>
            <li>защитник ловит диск;</li>
            <li>защитник досчитал до 10 (то есть прошло 10 секунд с начала
              владения
              диском);
            </li>
            <li>игрок своей команды ловит диск в ауте (То есть он ловит диск и
              при
              этом хотя бы одной ногой не находится в ауте. Если он ловит диск
              в
              прыжке и при этом успевает отдать пас до того как приземлится(так
              называемый «Greatest»), то потери не происходит).
            </li>
          </ul>
        </li>


        <li>
          <h4><b>Игра может быть остановлена по следующим причинам:</b></h4>
          <ul>
            <li>
              <h5><b>Фолы</b></h5>
              <p>
                Фол — это нарушение правил в результате неслучайного контакта
                между
                двумя или более игроками разных команд. Фол может быть объявлен
                игроком, по отношению к которому он был совершён и должен быть
                объявлен громким выкриком слова «Фол» непосредственно после его
                совершения. Игрок, против которого объявили фол, может либо
                согласиться с этим (в этом случае, если его команда владела
                диском,
                происходит смена владения), либо нет (в этом случае игра
                переигрывается с того момента, когда был объявлен фол).

                Кроме фолов существуют и другие нарушения, не связанные с
                физическим
                контактом, такие как пробежка (перемещения с диском), «double
                team»
                (более одного защитника закрывают игрока с диском), «pick»
                (препятствование движению игроков противоположной команды) и
                пр.
              </p>
            </li>
            <li>
              <h5><b>Тайм-ауты</b></h5>
              <p>
                Игра останавливается, когда игрок с диском объявляет тайм-аут.
                Количество тайм-аутов у каждой команды оговаривается перед
                началом
                игры или определяется регламентом турнира.
              </p>
            </li>
            <li>
              <h5><b>Замены</b></h5>
              <p>
                Замена может быть произведена после засчитанного очка, либо во
                время тайм-аута из-за травмы. Если одна из команд меняет
                травмированного игрока, то другая может поменять одного из
                игроков
                своей команды.
              </p>
            </li>
          </ul>
      </ul>
      <h2 class="text-center"><b><a name="дух_игры"></a>Дух игры</b></h2>
      <ul class="list-unstyled">
        <li>
          <p>Дух игры (Spirit of the Game) является основным принципом
            алтимата. Коротко его можно обозначить, как «Уважение к сопернику —
            первостепенно». В отличие, например, от футбола моральные правила
            алтимата строго запрещают намеренные фолы и издёвки над
            противником. Подобное поведение может быть истолковано как
            отсутствие спортивного мастерства.

            Кроме того, в алтимате отсутствует понятие штрафа. Предполагается,
            что никто не будет злонамеренно нарушать правила, поэтому
            существуют лишь лёгкие наказания за неумышленные нарушения. Как уже
            отмечалось, в алтимате каждый игрок ответственен за своё поведение
            на поле. Нет судей следящих за тем, чтобы каждый вёл себя «как
            взрослый», таким образом, ответственность за объявление фола лежит
            на каждом, а не только на пострадавшем. То есть можно, например,
            объявить фол самому себе (что не так уж и редко наблюдается). В
            алтимате не ставится цель победить любой ценой, важно, чтобы игра
            была честной и приносила удовольствие. Все это и является
            следствием основного принципа — Духа Игры.

          </p>
        </li>
      </ul>


    </div>
  </div>
  <div class="our-grid">
    <div class="container the-do">
      <h6>Лучше 1 раз увидеть чем 100 раз услышать</h6>
      <div class="video">
        <iframe width="45%" height="283" src="https://www.youtube.com/embed/LHC4rQNrmuM" frameborder="0" allowfullscreen></iframe>
        <iframe width="45%" height="283" src="https://www.youtube.com/embed/4rxrTsZJVzY" frameborder="0" allowfullscreen></iframe>
        <iframe width="45%" height="283" src="https://www.youtube.com/embed/LHC4rQNrmuM" frameborder="0" allowfullscreen></iframe>
        <iframe width="45%" height="283" src="https://www.youtube.com/embed/4rxrTsZJVzY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
