
.about-page {
  padding-top: 60px;
}

.banner span.matter-out-in {
  width: 620px;
  height: 263px;
  /*background: url(../../images/ma3.png) 0px 0px;*/
}

.content-gear h3, .gear-content h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.gear-grid {
  padding: 3em 0;
}

.content-gear h3 span, .gear-content h3 span {
  color: #f3bc23;
}

.gear-content-grid iframe {
  width: 90%;
  height: 500px;
}

.content-gear p {
  font-size: 1.4em;
  line-height: 1.6em;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #BEBEBE;
  padding: 0 0 2em;
}

.content-gear {
  text-align: center;
  padding: 2em 0 1em 0;
}

label.icon-grid {
  float: left;
  width: 122px;
  height: 122px;
  background: url(../../images/img-sprite.png) -4px -122px;
}

label.icon {
  background-position: -136px -122px;
}

label.grid-icon {
  background-position: -272px -122px;
}

.gear-grids {
  width: 32.333%;
  margin-right: 1%;
  padding: 0;
}

.gear-gridsn {
  margin-right: 0;
  padding: 0;
}

.inner-gear {
  float: right;
  width: 63%;
}

.inner-gear h5 {
  margin: 0;
  font-size: 1.6em;
  font-weight: 700;
}

.inner-gear p {
  font-size: 1.2em;
  font-weight: 300;
  color: #000;
  line-height: 1.6em;
}

.order-left {
  float: left;
  border: 1px solid #C7C5C5;
  background: #fff;
  padding: 1em 0.5em;
}

.left-order {
  float: right;
  width: 50%;
}

.left-order h5 {
  margin: 0;
  font-size: 3.5em;
  text-transform: uppercase;
}

.left-order span {
  font-size: 1.4em;
  color: #b2ce22;
  font-weight: 800;
}

.left-order p {
  margin: 1em 0 3em;
  font-size: 1.2em;
  width: 85%;
}

p.size {
  text-transform: uppercase;
  font-size: 1.6em;
  margin: 0 0 1em;
}

p.size b {
  padding: 0.2em 2em;
  background: #fff;
  border: 1px solid #C7C5C5;
  margin: 0 1em;
}

p.size-in {
  margin: 0 0 2em;
}

p.size-in b {
  padding: 0.2em 3em;
}

a.cart {
  text-decoration: none;
  font-size: 1.4em;
  color: #b2ce22;
  background: #1c1d24;
  padding: 0.5em 2em;
}

a.cart:hover {
  color: #fff;
  background: #b2ce22;
}

.inner-gear h5 a, .we-do h6 a {
  text-decoration: none;
  color: #ff0000;
}

.order-content {
  padding: 5em 0 7em;
}

.our-grid {
  background: url(../../images/ba2.png) 0px 0px;
  width: 100%;
  height: 870px;
  display: inline-block;
}

.our-grid h3 {
  margin: 2em 0 0;
  font-size: 5.1em;
  color: #575a6f;
  text-align: center;
}

.the-do h6 {
  margin: 0 0 0.5em;
  font-size: 2.1em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.the-do span {
  font-size: 1.1em;
  color: #b2ce22;
  font-weight: 700;
}

.the-do p {
  margin: 0.4em 0 0;
  font-size: 1.1em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.the-do ul {
  padding: 0.7em 0 0.5em 2.7em;
}

.the-do ul li {
  list-style: none;
  font-size: 1.1em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.2em 0;
}

.do-the {
  padding: 4em 0;
}

.content-con {
  padding: 6em 0 0;
}

.our-grid {
  background: url(../../images/ba2.png) 0px 0px;
  width: 100%;
  height: 870px;
  display: inline-block;
}

.our-grid h3 {
  margin: 2em 0 0;
  font-size: 5em;
  color: #575a6f;
  text-align: center;
}

.the-do h6 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0 0 0.5em;
  font-size: 33px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.video{
  text-align: center;
}

.video iframe{
  padding: 10px;
}

.the-do span {
  font-size: 1.1em;
  color: #faed23;
  font-weight: 700;
}

.the-do p {
  margin: 0.4em 0 0;
  font-size: 1.1em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.the-do ul {
  padding: 0.7em 0 0.5em 2.7em;
}

.the-do ul li {
  list-style: none;
  font-size: 1.1em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.2em 0;
}

.content-con {
  padding: 6em 0 0;
}
