.contact_desc {
  padding: 125px 0 20px;
  background: #FFF;
}

.contact_desc h2 {
  color: #000000;
  text-transform: uppercase;
  font-size: 2.2em;
  font-weight: 500;
  margin: 17px 0px;
}

.contact-form {
  position: relative;
  padding-bottom: 20px;
}

.left_form {
  float: left;
  width: 48%;
}

.right_form {
  float: left;
  width: 48%;
  margin-left: 3.8%;
}

.contact-form div {
  padding: 5px 0;
}

.contact-form span label {
  display: block;
  font-size: 1em;
  color: #686868;
  padding-bottom: 5px;
  font-weight: 400;
}

.contact-form input[type="text"], .contact-form textarea {
  padding: 10px;
  display: block;
  width: 100%;
  background: #fcfcfc;
  border: none;
  outline: none;
  color: #464646;
  font-size: 1em;
  box-shadow: inset 0px 0px 3px #999;
  -webkit-box-shadow: inset 0px 0px 3px #999;
  -moz-box-shadow: inset 0px 0px 3px #999;
  -o-box-shadow: inset 0px 0px 3px #999;
  -webkit-appearance: none;
}

.contact-form textarea {
  resize: none;
  height: 193px;
}

.myButton {
  background: #ff0000;
  color: #fff;
  font-size: 1.2em;
  padding: 9px 25px;
  border: none;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-appearance: none;
  float: right;
}

.myButton:hover {
  text-shadow: 0px 0px 1px #fadb6f;
  background: #faed23;
  color: #000;
}

.company_address {
  float: left;
  width: 25%;
}

.company_address p {
  display: block;
  font-size: 1em;
  color: #686868;
  padding-bottom: 5px;
  font-weight: 400;
  padding: 5px 0;
}

.company_address p span a {
  text-decoration: underline;
  color: #555;
}

.company_address p span a:hover {
  text-decoration: none;
  color: #ff0000;
}

.contact_info {
  float: right;
  width: 70%;
  margin-left: 5%;
}
