<div *ngIf="training">

  <table>
    <tr>
      <th>День</th>
      <th>Время</th>
      <th>Место</th>
      <th>Цена</th>
    </tr>

    <tr *ngFor="let trane of training">
      <td>{{ trane.day }}</td>
      <td>{{ trane.time }}</td>
      <td *ngIf="trane.latitude_coordinates && trane.length_coordinates">
        <button class="btn btn-link" (click)="lgModal.show()">
          <span class="glyphicon glyphicon-map-marker"></span>
          {{ trane.location }}
        </button>
      </td>
      <td *ngIf="! trane.latitude_coordinates && ! trane.length_coordinates">
        {{ trane.location }}
      </td>

      <td>{{ trane.price }}</td>

      <div bsModal #lgModal="bs-modal" class="modal fade"
           tabindex="-1"
           role="dialog" aria-labelledby="myLargeModalLabel"
           aria-hidden="true" (onShown)="showMap=true" (onHidden)="showMap=false">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close"
                      (click)="lgModal.hide()"
                      aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">
                {{ trane.day }} {{ trane.time }} {{ trane.location }} </h4>
            </div>
            <div class="modal-body">
              <sebm-google-map *ngIf="showMap"
                               [latitude]="trane.latitude_coordinates"
                               [longitude]="trane.length_coordinates"
                               [zoom]="zoom">

                <sebm-google-map-marker
                    [latitude]="trane.latitude_coordinates"
                    [longitude]="trane.length_coordinates">
                </sebm-google-map-marker>
              </sebm-google-map>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </table>
</div>

