<div *ngIf="slides">
    <div class="header-slider" id="home">
        <div class="slider">
            <div class="callbacks_container">

                <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
                    <slide *ngFor="let slide of slides; let index=index"
                           [active]="slide.active">
                        <img [src]="slide.cropped_image_url"
                             style="margin:auto;">


                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>
