

.caption{
	width: 23%;
	position: absolute;
	top: 26%;
	padding: 4em 1em 7em 1em;
	left: 13%;
	text-align: center;
	background: url('../../../images/caption-bg.png') no-repeat;
	background-size: 100% 100%;
}
.caption h3{
	color:#ff0000;
	text-transform:uppercase;
	font-size:2.7em;
	font-weight:400;
}
.caption p{
	font-size: 1.3em;
	font-weight: 400;
	color: #000;
	margin-top: 2em;
	line-height: 1.6em;
}
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
carousel div.carousel.slide .carousel-inner {
  -webkit-backface-visibility: hidden;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
