.photo-page {
  padding-top: 90px;
  padding-bottom: 50px
}

.photo-item {
  padding: 10px;
}

.photo-item img {
  opacity: 1;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}

.photo-item img:hover {
  opacity: 0.8;
}

h3.album-name {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
