<div *ngIf="photos">
  <div class="photo-page">
    <div class="container">
      <h3 class="album-name">{{ photos[0].album_name }}</h3>
      <div *ngFor="let photo of photos">
        <div class="col-md-3 photo-item">
          <img src="{{ photo.photo_cropped }}" (click)="OpenImageModel(photo.photo_original, photos) alt=" No cover ">
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="openModalWindow">
  <ImageModal [modalImages]="images" [imagePointer]="imagePointer" (cancelEvent)="cancelImageModel()"></ImageModal>
</div>
