<div class="header">
  <div class="top-menu">
    <ul>
      <nav  class="cl-effect-5">
        <li><a [class.active]="page=='home'" (click)="page='home'" routerLink="/"><span data-hover="Главная">Главная</span></a></li>
        <li>/</li>
        <li><a [class.active]="page=='about'" (click)="page='about'" routerLink="/about/"><span data-hover="Алтимат">Алтимат</span></a></li>
        <li>/</li>
        <li><a [class.active]="page=='news'" (click)="page='news'" routerLink="/news/"><span data-hover="Новости">Новости</span></a></li>
        <li>/</li>
        <li><a [class.active]="page=='photo'" (click)="page='photo'" routerLink="/album/"><span data-hover="Фото">Фото</span></a></li>
        <li>/</li>
        <li><a routerLink="/contacts/"><span data-hover="Контакты">Контакты</span></a>
        </li>
      </nav>
    </ul>
  </div>
  <div class="logo">
    <a routerLink="/"><img src="../images/3_copy.jpg" alt=""/></a>
  </div>
</div>

<router-outlet></router-outlet>


<div class="footer">
  <div class="container">
    <div *ngIf="contacts">
      <div class="contact-section">
        <h4>Контакты:</h4>
        <ul class="list-unstyled list-inline">
          <li>
            <span class="glyphicon glyphicon-earphone"></span>{{contacts.first_phone}}
          </li>
          <li>
            <span class="glyphicon glyphicon-earphone"></span>{{contacts.second_phone}}
          </li>
          <li>
            <span class="glyphicon glyphicon-envelope"></span>{{contacts.email}}
          </li>
          <li><span class="glyphicon glyphicon-map-marker"></span>
            <a href={{contacts.vk_link}}>X-tigers in VK</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
