<div *ngIf="news">
  <div class="news-page">

    <div class="news-container">
      <div *ngFor="let new of news">
        <div class="padding-bottom">
          <div class="new-block row">
            <div><img class='leftimg' src="{{ new.cropped_image_url }}" alt="">
              <h1>{{ new.title }}</h1>
              <h4>{{ new.text }}</h4>
            </div>

            <div class="col-sm-12">
              <h4>
                <small class='pull-right'>{{ new.pretty_date }}</small>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


