.news-page {
  padding-top: 130px
}

.leftimg {
  float: left;
  margin: 7px 10px 10px 0
}

.news-container {
  padding-right: 70px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}

.new-block {
  border-bottom: 1px solid #BEBEBE;
  padding-bottom: 12px;
}

.new-block h1 {
  margin-top: 7px;
}

.padding-bottom {
  padding-bottom: 30px
}
