<div *ngIf="albums">
  <div class="albums-page">
    <div class="container">
      <div *ngFor="let album of albums">
        <div class="col-md-4 albums-item">
          <a [routerLink]="['/album', album.id, 'photo']">
            <div class="image">
              <img src="{{ album.cover_url }}" alt="No cover ">
              <h2 class="album-title"><span>{{ album.name }}</span></h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


