.albums-page {
  padding-top: 130px;
  padding-bottom: 50px
}

.albums-container {
  padding-right: 70px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}

.albums-item {
  padding: 10px;

}

.image {
  position: relative;
}

.image img {
  opacity: 1;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}

.image:hover img {
  opacity: 0.8;
}

.image:hover h2.album-title span {
  /*visibility: visible;*/
  opacity: 1;
}

h2.album-title {
  position: absolute;
  top: 154px;
  left: 0;
  width: 100%;

}

h2.album-title span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  /*visibility: hidden;*/
  opacity: 0;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;

}
