app-home {
  position: relative;
}

.caption {
  height: 250px;
  width: 240px;
  position: absolute;
  top: 200px;
  padding-top:20px;
  left: 11%;
  text-align: center;
  background: url('../../images/caption-bg.png') no-repeat;
  background-size: 100% 100%;
}

.caption img {
  width: 200px;
  height: 200px;
}

.caption h3 {
  color: #ff0000;
  text-transform: uppercase;
  font-size: 2.7em;
  font-weight: 400;
}

.caption p {
  font-size: 1.3em;
  font-weight: 400;
  color: #000;
  margin-top: 2em;
  line-height: 1.6em;
}

.about-section {
  background-color: #D73D02;
  padding-top: 20px;
  padding-bottom: 30px;
}

.about-section h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3.8em;
  font-weight: 500;
  margin-bottom: 1.1em;
}

.about-section-grid h4 {
  color: #fff;
  font-size: 1.7em;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

.about-section-grid p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
}

.about-section a {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 500;
  padding: 0.85em 1.5em;
  background: #faed23;
  color: #ff0000;
  text-decoration: none;
  display: block;
  width: 18%;
  margin: 4em auto 0;
  z-index: 1;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  padding: 0.4em 1.5em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0px !important;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 900;
  color: #fa6374;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a.btn1 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  padding: 0.8em 3em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0px !important;
  text-decoration: none;
  font-size: 1.8em;
  border: 2px solid #fff;
  font-weight: 900;
  color: #fff;
}

a.btn1:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 1c */
.btn-1c:after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: #fff;
}

.btn-1c:hover,
.btn-1c:active {
  color: #ff0000;
}

.btn-1c:hover:after,
.btn-1c:active:after {
  height: 100%;
}

.welcome-section {
  padding: 40px 0;
}

.textimonials-section {
  background: url('../../images/tiger.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 510px;
  padding-top: 35px;
  padding-bottom: 70px;
}

.textimonials-section h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 400;
  margin: 2.5em 0 1.5em 0;
  line-height: 1.6em;
}

.textimonials-section ul li {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
}

.textimonials-section a {
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.9em 2em;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4em;
  z-index: 1;
}

.sebm-google-map-container {
  height: 300px;
}

div.welcome-grid h3 {
  margin-top: 0;
}
