<!--sliders-->


<div *ngIf="homeData">

    <home-carousel></home-carousel>


    <!--welcome note-->
    <div class="caption text-center">
        <img src="../../images/2.png" alt="">
    </div>

    <!--Team introduction block-->
    <div class="content">
        <div class="welcome-section">
            <div class="container">
                <div class="col-md-6 images">
                    <img src="../../images/tigers-all-1.jpg"
                         class="img-responsive"
                         alt=""/>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 welcome-grid text-center">
                    <h3>{{ homeData.team_introduction_title }}</h3>
                    <p>{{ homeData.team_introduction_text }} </p>

                    <app-training></app-training>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--About ultimate short note    -->
        <div class="about-section text-center">
            <div class="container">
                <h2>What is ultimate?</h2>
                <div class="about-section-grid text-left">
                    <p>{{ homeData.about_ultimate_short_note }}</p>
                </div>
                <div class="clearfix"></div>
                <a routerLink="/about/" class="btn btn-1 btn-1c">read more</a>
            </div>
        </div>

        <!--tigers manifest    -->
        <div class="textimonials-section text-center">
            <div class="container">
                <img src="../../images/t.png" alt=""/>
                <h5>Тигринный манифест</h5>
                <ul class="list-unstyled">
                    <li>1. Тигры играют в алтимат летающим диском.</li>
                    <li>2. Тигр делится с новичком диском и знаниями.</li>
                  <li>3. Тигр ценит дух и не применяет агрессию и мат.</li>
                  <li>4. Тигр развивает свой клуб и ценит клубную систему.</li>
                  <li>5. Тигр не считает себя лучше и опытней других тигров.</li>
                  <li>6. Тигр знает что важней не потерять диск, чем занести.</li>
                  <li>7. Тигр нигде не бросит тигра и игру без предупреждения.</li>
                  <li>8. Тигры умеют вместе не только и грать, но и отдыхать.</li>
                  <li>9. Тигр развивает себя, знание правил и владение диском.</li>
                  <li>10. Тигр контролирует свои привычки и вредные тоже.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
